@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

:root {
  font-family: Roboto;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: var(--oc-gray-0); */
  /* background-color: var(--oc-gray-9); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

#root,
.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 7vh;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  /* margin-top: 4vh; */
  /* margin-bottom: 5vh; */
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: hidden;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 20px;
}

.container {
  width: 80%;
  max-width: 600px;
}

/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
} */

.modified-letter-container {
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  text-align: left;
  width: 100%;
}

.initial-screen {
  overflow-y: auto; /* Allows scrolling within initial-screen if content overflows */
  max-height: calc(100vh - 120px); /* Example calculation, adjust based on your header/footer */
}



.dynamic-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .dynamic-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dynamic-fields > div {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 75%;
} */

/* .dynamic-fields > div > .MuiTextField-root {
  flex: 1;
} */

.add-field-button {
  margin-top: 20px;
}

footer {
  text-align: center;
  padding: 20px 0;
  margin-top: 9vh;
  /* margin-bottom: 2vh; */
}

@media (max-height: 800px) {
  h1 {
    margin-top: 2vh;
    margin-bottom: 3vh;
  }
  .main-container,
  .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
