@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  font-family: Roboto;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: var(--oc-gray-0); */
  /* background-color: var(--oc-gray-9); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* #root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
} */

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

#root,
.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .autofilled {
  background-color: var(--your-input-background-color) !important;
  color: var(--your-input-text-color) !important;
} */

/* header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  margin-top: 0;
  text-align: center;
  /* margin-bottom: 2vh; */
/* background-color: var(--header-background-color); */
/* margin-top: 7vh; */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  /* margin-top: 20px; */
  /* margin-right: 70px;
  margin-left: 70px; */
}



/* header h1,
header .button-group {
  margin: 0 20px;
} */

/* body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
} */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  margin: 0; /* Reset default margin */
}

/* h1 {
  line-height: 1.1;
  /* margin-top: 4vh; */
/* margin-bottom: 5vh; */

/* .main-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: hidden;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 20px;
} */

/* .main-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  flex: 1 0 auto;
  align-items: center;
} */
/*

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers items horizontally in the container */
/* justify-content: center; Centers items vertically in the container */
/* width: 100%; Takes the full width */
/* max-width: 1200px; Adjust this value based on your design requirements */
/* margin: auto; Centers the container itself in the viewport */
/* min-height: 100vh; Ensures the container takes at least the height of the viewport */
/* padding: 30px; Adds some spacing inside the container */
/* box-sizing: border-box; Ensures padding does not add to the total width */
/* } **/

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Adjust to keep items aligned to the top */
  min-height: 100vh;
  width: 100%;
  max-width: 1000px;
}

.content-container {
  display: flex;
  /* justify-content: space-around; */
  align-items: stretch;
  width: 100%;
  max-width: 1200px;

  /* padding: 30px; */
  /* gap: 0px; */
  /* margin-top: auto;  */
  /* min-height: 400px;  */
}
.how-to-use,
.content-container {
  transition: all 0.5s ease; 
  min-height: 100px;
}

.container {
  flex: 1; /* Allows each container to grow and take up equal space */
  min-width: 0; /* Prevents flex items from overflowing their container */
  /* height: 100%; Makes the container fill the height of its parent, if defined */
  /* min-height: 200px; */
}
/* .coverLetterContainer { 
  margin-top: 44px;
} */

.how-to-use {
  font-family: 'Lato', sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* max-width: 700px; */
  margin: 20px auto;
  /* margin-bottom: 5px; */
  overflow: hidden; /* This ensures that child elements do not bleed outside the border-radius */
  align-self: flex-start;
  width: 100%; /* Makes it take the full width of its parent */
  max-width: 700px; /* Or whatever maximum width you prefer */
  text-align: center; /* Ensures text inside is aligned left */
}

.how-to-use h1 {
  margin: 0 auto;
  text-align: center; /* Centers the h1 within its parent if it has a specific width */
}

.custom-hr {
  border: none;
  height: 1px;
  background-color: #333;
  width: 95%;
  margin: 20px auto;
}

/* .container {
  width: 80%;
  max-width: 600px;
}

 */
/*.container {
  width: 100%; /* Takes the full width of its parent flex container */
/*max-width: 600px; /* A bounded size for the iPad landscape size, to ensure a harmonious setting */
/*}
/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
} */

/* .container right-panel {
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  text-align: left;
  width: 100%;
} */

/*
.initial-screen {
  overflow-y: auto; /* Allows scrolling within initial-screen if content overflows */
/* max-height: calc(100vh - 120px); /* Example calculation, adjust based on your header/footer */

.dynamic-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .dynamic-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dynamic-fields > div {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 75%;
} */

/* .dynamic-fields > div > .MuiTextField-root {
  flex: 1;
} */

.add-field-button {
  margin-top: 20px;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 20px 0;
  /* margin-bottom: 1vh; */
}

/* @media (max-height: 800px) {
  h1 {
    margin-top: 2vh;
    margin-bottom: 3vh;
  }
  .main-container,
  .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
} */

/* Adjustments for smaller screens */
@media (max-width: 800px) {
  .content-container {
    flex-direction: column;
  }
  .container {
    max-width: 100%;
  }
}

/* Ensure content doesn't overflow or get too squished on smaller screens */
@media (max-width: 768px) {
  .content-container {
    flex-direction: column; /* This changes the content layout from side by side to a vertical stack on smaller screens */
  }
}
